<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon333_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{2,2},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{337,2},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{672,2},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{2,303},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{337,303},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{672,303},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{2,604},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{337,604},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon333_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,299}</string>
                <key>spriteSourceSize</key>
                <string>{333,299}</string>
                <key>textureRect</key>
                <string>{{672,604},{333,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mon333.png</string>
            <key>size</key>
            <string>{1007,905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f69ea6b72724ecc6b7ae7e38a8755487:4459cc09aa77bc95c60196af9cb018a7:544862348412e38979d67a3d863e1fb0$</string>
            <key>textureFileName</key>
            <string>mon333.png</string>
        </dict>
    </dict>
</plist>
