<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon331_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{320,2},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{638,2},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{2,254},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{320,254},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{638,254},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{2,506},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{320,506},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon331_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,250}</string>
                <key>spriteSourceSize</key>
                <string>{316,250}</string>
                <key>textureRect</key>
                <string>{{638,506},{316,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mon331.png</string>
            <key>size</key>
            <string>{956,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a89d661e7f9fb1e8451d23050eedf790:6ecca79f6ff61d6d7959cc49d8bc89f9:3d0c9f209c43d04dfff21db825abf830$</string>
            <key>textureFileName</key>
            <string>mon331.png</string>
        </dict>
    </dict>
</plist>
