<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mon332_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{2,2},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{534,2},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{1066,2},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{2,483},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{534,483},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{1066,483},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{2,964},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{534,964},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon332_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{530,479}</string>
                <key>spriteSourceSize</key>
                <string>{530,479}</string>
                <key>textureRect</key>
                <string>{{1066,964},{530,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mon332.png</string>
            <key>size</key>
            <string>{1598,1445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd246bd05300bafb4c3ef6487ac025bd:ace94fe5a733bb1f852dc0f2bd92a134:c11b429d66cfc4be6d24cb2743e20dae$</string>
            <key>textureFileName</key>
            <string>mon332.png</string>
        </dict>
    </dict>
</plist>
