<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>commonbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,91}</string>
                <key>spriteSourceSize</key>
                <string>{76,91}</string>
                <key>textureRect</key>
                <string>{{143,2},{76,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanbei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,40}</string>
                <key>spriteSourceSize</key>
                <string>{143,40}</string>
                <key>textureRect</key>
                <string>{{2,95},{143,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itembg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>learn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,40}</string>
                <key>spriteSourceSize</key>
                <string>{73,40}</string>
                <key>textureRect</key>
                <string>{{68,2},{73,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>needall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,38}</string>
                <key>spriteSourceSize</key>
                <string>{148,38}</string>
                <key>textureRect</key>
                <string>{{2,137},{148,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rechoose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,39}</string>
                <key>spriteSourceSize</key>
                <string>{150,39}</string>
                <key>textureRect</key>
                <string>{{2,177},{150,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selecttitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,51}</string>
                <key>spriteSourceSize</key>
                <string>{202,51}</string>
                <key>textureRect</key>
                <string>{{2,218},{202,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillView.png</string>
            <key>size</key>
            <string>{221,271}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9ac66d2414ef63769349e63d8b69fea:9f8b9db27fc8001ea7500d2a56c171d0:84b869e1e80975c8a4ca501aae1480b9$</string>
            <key>textureFileName</key>
            <string>skillView.png</string>
        </dict>
    </dict>
</plist>
