<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thunder1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{142,108}</string>
                <key>textureRect</key>
                <string>{{142,514},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thunder2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{142,108}</string>
                <key>textureRect</key>
                <string>{{0,514},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thunder3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,141}</string>
                <key>spriteSourceSize</key>
                <string>{45,141}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thunder4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,514}</string>
                <key>spriteSourceSize</key>
                <string>{80,514}</string>
                <key>textureRect</key>
                <string>{{205,0},{80,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thunder5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,514}</string>
                <key>spriteSourceSize</key>
                <string>{80,514}</string>
                <key>textureRect</key>
                <string>{{45,0},{80,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thunder6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,514}</string>
                <key>spriteSourceSize</key>
                <string>{80,514}</string>
                <key>textureRect</key>
                <string>{{125,0},{80,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thunder7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,514}</string>
                <key>spriteSourceSize</key>
                <string>{80,514}</string>
                <key>textureRect</key>
                <string>{{285,0},{80,514}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>thunder.png</string>
            <key>size</key>
            <string>{365,622}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:657f242cdfd0283a2226a3fa5c7040c9:772c11c333164d310a088ebf6c5553fc:b2069637168e2661cd449291833d39bb$</string>
            <key>textureFileName</key>
            <string>thunder.png</string>
        </dict>
    </dict>
</plist>
