<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,441}</string>
                <key>spriteSourceSize</key>
                <string>{126,441}</string>
                <key>textureRect</key>
                <string>{{2,2},{126,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,441}</string>
                <key>spriteSourceSize</key>
                <string>{126,441}</string>
                <key>textureRect</key>
                <string>{{130,2},{126,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,441}</string>
                <key>spriteSourceSize</key>
                <string>{126,441}</string>
                <key>textureRect</key>
                <string>{{258,2},{126,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,441}</string>
                <key>spriteSourceSize</key>
                <string>{126,441}</string>
                <key>textureRect</key>
                <string>{{386,2},{126,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,441}</string>
                <key>spriteSourceSize</key>
                <string>{126,441}</string>
                <key>textureRect</key>
                <string>{{514,2},{126,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,441}</string>
                <key>spriteSourceSize</key>
                <string>{126,441}</string>
                <key>textureRect</key>
                <string>{{642,2},{126,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,441}</string>
                <key>spriteSourceSize</key>
                <string>{126,441}</string>
                <key>textureRect</key>
                <string>{{770,2},{126,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>faguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,106}</string>
                <key>spriteSourceSize</key>
                <string>{101,106}</string>
                <key>textureRect</key>
                <string>{{2,445},{101,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guangbo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,516}</string>
                <key>spriteSourceSize</key>
                <string>{207,516}</string>
                <key>textureRect</key>
                <string>{{105,445},{207,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guangbo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,516}</string>
                <key>spriteSourceSize</key>
                <string>{207,516}</string>
                <key>textureRect</key>
                <string>{{314,445},{207,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guangbo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,516}</string>
                <key>spriteSourceSize</key>
                <string>{207,516}</string>
                <key>textureRect</key>
                <string>{{523,445},{207,516}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guangzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,71}</string>
                <key>spriteSourceSize</key>
                <string>{95,71}</string>
                <key>textureRect</key>
                <string>{{732,445},{95,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shanguang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,117}</string>
                <key>spriteSourceSize</key>
                <string>{93,117}</string>
                <key>textureRect</key>
                <string>{{829,445},{93,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiguang.png</string>
            <key>size</key>
            <string>{924,963}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44113a0de03f7705c4c13024fdf73a08:6ae1d50b5a2767e7ea29b82525ef04eb:5bf1f644696c7cf417e039b639327650$</string>
            <key>textureFileName</key>
            <string>jiguang.png</string>
        </dict>
    </dict>
</plist>
