<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{426,216},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{638,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{426,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{214,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{744,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{108,216},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{638,216},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{850,216},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{744,216},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{850,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{320,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{108,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{214,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{532,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{108,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{426,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{638,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{850,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{2,109},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{744,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{532,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{2,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{320,2},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{2,216},{104,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>88006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{320,216},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>88007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{214,216},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>88008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{104,106}</string>
                <key>textureRect</key>
                <string>{{532,216},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>eventIcon.png</string>
            <key>size</key>
            <string>{956,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aadd835a8dcf7974d6eb43bb67ce9448:f3287a0b5b4edb50958d0ddd142d75f1:b55b55d0e6fd48c0df0fc5e5ada24ede$</string>
            <key>textureFileName</key>
            <string>eventIcon.png</string>
        </dict>
    </dict>
</plist>
