<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{2,2},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{144,2},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{198,2},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{340,2},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diamond_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{2,78},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{144,78},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_buff_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{286,78},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_buff_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{2,154},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_mid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{144,154},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,74}</string>
                <key>spriteSourceSize</key>
                <string>{140,74}</string>
                <key>textureRect</key>
                <string>{{286,154},{140,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,49}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{2,230},{59,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{63,230},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>power.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{118,230},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>resIcon.png</string>
            <key>size</key>
            <string>{482,286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5466c2e292712d44dd5d4a5fdaf8818:15c06c6fed28b106210ead04b9e2eb77:64c6df92cc249e7626ab462c6160cd06$</string>
            <key>textureFileName</key>
            <string>resIcon.png</string>
        </dict>
    </dict>
</plist>
