<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>8001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{2,2},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{158,2},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{314,2},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{470,2},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{626,2},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{782,2},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{2,160},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{158,160},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{314,160},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{470,160},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{626,160},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{782,160},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{2,318},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{158,318},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{314,318},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{470,318},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{626,318},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{782,318},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{2,476},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{158,476},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{314,476},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{470,476},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{626,476},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{782,476},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{2,634},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{158,634},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{314,634},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{470,634},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{626,634},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{782,634},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{2,792},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{158,792},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{314,792},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{470,792},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{626,792},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{782,792},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{154,156}</string>
                <key>textureRect</key>
                <string>{{2,950},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillIcon.png</string>
            <key>size</key>
            <string>{938,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54055e01a4cd327bd0b2d3439c8862e:b828df1ce7c7361a16f8684458bef1e4:9fc539718926319205d06f4cedd0889b$</string>
            <key>textureFileName</key>
            <string>skillIcon.png</string>
        </dict>
    </dict>
</plist>
