<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weapon101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,122}</string>
                <key>spriteSourceSize</key>
                <string>{241,122}</string>
                <key>textureRect</key>
                <string>{{2,231},{241,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,133}</string>
                <key>spriteSourceSize</key>
                <string>{220,133}</string>
                <key>textureRect</key>
                <string>{{2,364},{220,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,106}</string>
                <key>spriteSourceSize</key>
                <string>{308,106}</string>
                <key>textureRect</key>
                <string>{{449,2},{308,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,183}</string>
                <key>spriteSourceSize</key>
                <string>{252,183}</string>
                <key>textureRect</key>
                <string>{{674,364},{252,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,130}</string>
                <key>spriteSourceSize</key>
                <string>{229,130}</string>
                <key>textureRect</key>
                <string>{{453,231},{229,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,131}</string>
                <key>spriteSourceSize</key>
                <string>{255,131}</string>
                <key>textureRect</key>
                <string>{{684,231},{255,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,113}</string>
                <key>spriteSourceSize</key>
                <string>{281,113}</string>
                <key>textureRect</key>
                <string>{{2,110},{281,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,104}</string>
                <key>spriteSourceSize</key>
                <string>{247,104}</string>
                <key>textureRect</key>
                <string>{{200,2},{247,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,149}</string>
                <key>spriteSourceSize</key>
                <string>{262,149}</string>
                <key>textureRect</key>
                <string>{{410,364},{262,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,119}</string>
                <key>spriteSourceSize</key>
                <string>{185,119}</string>
                <key>textureRect</key>
                <string>{{514,110},{185,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,62}</string>
                <key>spriteSourceSize</key>
                <string>{196,62}</string>
                <key>textureRect</key>
                <string>{{2,2},{196,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,148}</string>
                <key>spriteSourceSize</key>
                <string>{184,148}</string>
                <key>textureRect</key>
                <string>{{224,364},{184,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,126}</string>
                <key>spriteSourceSize</key>
                <string>{206,126}</string>
                <key>textureRect</key>
                <string>{{245,231},{206,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapon122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,116}</string>
                <key>spriteSourceSize</key>
                <string>{227,116}</string>
                <key>textureRect</key>
                <string>{{285,110},{227,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>weaponIcon.png</string>
            <key>size</key>
            <string>{941,549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6fea78dc01c150a263755f44aacbf0f:37fc864688a30969247111a5f38c11e9:bd445acdec609becf2a04f70d5beed5b$</string>
            <key>textureFileName</key>
            <string>weaponIcon.png</string>
        </dict>
    </dict>
</plist>
