<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wall1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,140}</string>
                <key>spriteSourceSize</key>
                <string>{147,140}</string>
                <key>textureRect</key>
                <string>{{2,2},{147,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,107}</string>
                <key>spriteSourceSize</key>
                <string>{110,107}</string>
                <key>textureRect</key>
                <string>{{151,2},{110,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wall3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,53}</string>
                <key>spriteSourceSize</key>
                <string>{322,53}</string>
                <key>textureRect</key>
                <string>{{2,144},{322,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battleWall.png</string>
            <key>size</key>
            <string>{326,199}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:782945cd5aa136b014722117929aa0fe:21b16735bfef7c9813e3be9f5a18006e:6f54cadff68cec2db76a6a2182575af7$</string>
            <key>textureFileName</key>
            <string>battleWall.png</string>
        </dict>
    </dict>
</plist>
