<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingdong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{472,1300},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingdong1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,230}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{240,1300},{230,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,19}</string>
                <key>spriteSourceSize</key>
                <string>{19,19}</string>
                <key>textureRect</key>
                <string>{{17,2},{19,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodbar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,23}</string>
                <key>spriteSourceSize</key>
                <string>{144,23}</string>
                <key>textureRect</key>
                <string>{{38,2},{144,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bloodbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,29}</string>
                <key>spriteSourceSize</key>
                <string>{150,29}</string>
                <key>textureRect</key>
                <string>{{184,2},{150,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buffbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,172}</string>
                <key>spriteSourceSize</key>
                <string>{172,172}</string>
                <key>textureRect</key>
                <string>{{708,910},{172,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy501_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,107}</string>
                <key>spriteSourceSize</key>
                <string>{88,107}</string>
                <key>textureRect</key>
                <string>{{682,266},{88,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy501_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,107}</string>
                <key>spriteSourceSize</key>
                <string>{88,107}</string>
                <key>textureRect</key>
                <string>{{592,266},{88,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy502_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,103}</string>
                <key>spriteSourceSize</key>
                <string>{187,103}</string>
                <key>textureRect</key>
                <string>{{296,266},{187,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy502_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,103}</string>
                <key>spriteSourceSize</key>
                <string>{187,103}</string>
                <key>textureRect</key>
                <string>{{107,266},{187,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy603_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,156}</string>
                <key>spriteSourceSize</key>
                <string>{246,156}</string>
                <key>textureRect</key>
                <string>{{460,910},{246,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy603_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,156}</string>
                <key>spriteSourceSize</key>
                <string>{246,156}</string>
                <key>textureRect</key>
                <string>{{212,910},{246,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy603_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,214}</string>
                <key>spriteSourceSize</key>
                <string>{214,214}</string>
                <key>textureRect</key>
                <string>{{710,1084},{214,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fanwei2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{243,243}</string>
                <key>textureRect</key>
                <string>{{704,1300},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldstar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{336,2},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,99}</string>
                <key>spriteSourceSize</key>
                <string>{81,99}</string>
                <key>textureRect</key>
                <string>{{365,163},{81,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,120}</string>
                <key>spriteSourceSize</key>
                <string>{97,120}</string>
                <key>textureRect</key>
                <string>{{121,498},{97,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon303_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,145}</string>
                <key>spriteSourceSize</key>
                <string>{68,145}</string>
                <key>textureRect</key>
                <string>{{142,910},{68,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon303_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,145}</string>
                <key>spriteSourceSize</key>
                <string>{68,145}</string>
                <key>textureRect</key>
                <string>{{2,910},{68,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon303_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,145}</string>
                <key>spriteSourceSize</key>
                <string>{68,145}</string>
                <key>textureRect</key>
                <string>{{72,910},{68,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon303_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,145}</string>
                <key>spriteSourceSize</key>
                <string>{68,145}</string>
                <key>textureRect</key>
                <string>{{836,763},{68,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{291,163},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon305_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,94}</string>
                <key>spriteSourceSize</key>
                <string>{72,94}</string>
                <key>textureRect</key>
                <string>{{217,163},{72,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,88}</string>
                <key>spriteSourceSize</key>
                <string>{110,88}</string>
                <key>textureRect</key>
                <string>{{2,163},{110,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{512,2},{125,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon307_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{639,2},{125,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,86}</string>
                <key>spriteSourceSize</key>
                <string>{154,86}</string>
                <key>textureRect</key>
                <string>{{703,75},{154,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,76}</string>
                <key>spriteSourceSize</key>
                <string>{156,76}</string>
                <key>textureRect</key>
                <string>{{2,75},{156,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,71}</string>
                <key>spriteSourceSize</key>
                <string>{116,71}</string>
                <key>textureRect</key>
                <string>{{766,2},{116,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,76}</string>
                <key>textureRect</key>
                <string>{{160,75},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon311_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{90,76}</string>
                <key>textureRect</key>
                <string>{{252,75},{90,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,85}</string>
                <key>spriteSourceSize</key>
                <string>{89,85}</string>
                <key>textureRect</key>
                <string>{{612,75},{89,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,85}</string>
                <key>spriteSourceSize</key>
                <string>{98,85}</string>
                <key>textureRect</key>
                <string>{{512,75},{98,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon315.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{448,163},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon315_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,100}</string>
                <key>spriteSourceSize</key>
                <string>{73,100}</string>
                <key>textureRect</key>
                <string>{{523,163},{73,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon316_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,139}</string>
                <key>spriteSourceSize</key>
                <string>{114,139}</string>
                <key>textureRect</key>
                <string>{{118,763},{114,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon316_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,139}</string>
                <key>spriteSourceSize</key>
                <string>{114,139}</string>
                <key>textureRect</key>
                <string>{{2,763},{114,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon317.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{485,266},{105,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon318_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{428,75},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon318_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{344,75},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon319_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,127}</string>
                <key>spriteSourceSize</key>
                <string>{160,127}</string>
                <key>textureRect</key>
                <string>{{406,625},{160,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon319_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,127}</string>
                <key>spriteSourceSize</key>
                <string>{160,127}</string>
                <key>textureRect</key>
                <string>{{244,625},{160,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon320_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,101}</string>
                <key>spriteSourceSize</key>
                <string>{103,101}</string>
                <key>textureRect</key>
                <string>{{598,163},{103,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon320_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,101}</string>
                <key>spriteSourceSize</key>
                <string>{103,101}</string>
                <key>textureRect</key>
                <string>{{703,163},{103,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon320_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,101}</string>
                <key>spriteSourceSize</key>
                <string>{103,101}</string>
                <key>textureRect</key>
                <string>{{2,266},{103,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon321.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,127}</string>
                <key>spriteSourceSize</key>
                <string>{120,127}</string>
                <key>textureRect</key>
                <string>{{568,625},{120,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon321_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,58}</string>
                <key>textureRect</key>
                <string>{{380,2},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon322.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{660,763},{174,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon322_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,145}</string>
                <key>spriteSourceSize</key>
                <string>{174,145}</string>
                <key>textureRect</key>
                <string>{{484,763},{174,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon323.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,209}</string>
                <key>spriteSourceSize</key>
                <string>{234,209}</string>
                <key>textureRect</key>
                <string>{{2,1084},{234,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon323_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,209}</string>
                <key>spriteSourceSize</key>
                <string>{234,209}</string>
                <key>textureRect</key>
                <string>{{238,1084},{234,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon323_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,63}</string>
                <key>spriteSourceSize</key>
                <string>{72,63}</string>
                <key>textureRect</key>
                <string>{{438,2},{72,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon323_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,209}</string>
                <key>spriteSourceSize</key>
                <string>{234,209}</string>
                <key>textureRect</key>
                <string>{{474,1084},{234,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon324.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{120,113}</string>
                <key>textureRect</key>
                <string>{{220,381},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon324_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,113}</string>
                <key>spriteSourceSize</key>
                <string>{120,113}</string>
                <key>textureRect</key>
                <string>{{2,381},{120,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon325.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,142}</string>
                <key>spriteSourceSize</key>
                <string>{123,142}</string>
                <key>textureRect</key>
                <string>{{359,763},{123,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon325_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,142}</string>
                <key>spriteSourceSize</key>
                <string>{123,142}</string>
                <key>textureRect</key>
                <string>{{234,763},{123,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon326.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,101}</string>
                <key>spriteSourceSize</key>
                <string>{90,101}</string>
                <key>textureRect</key>
                <string>{{808,163},{90,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon327.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,136}</string>
                <key>spriteSourceSize</key>
                <string>{94,136}</string>
                <key>textureRect</key>
                <string>{{690,625},{94,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon327_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,136}</string>
                <key>spriteSourceSize</key>
                <string>{94,136}</string>
                <key>textureRect</key>
                <string>{{786,625},{94,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon328.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,113}</string>
                <key>spriteSourceSize</key>
                <string>{94,113}</string>
                <key>textureRect</key>
                <string>{{772,266},{94,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon328_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,113}</string>
                <key>spriteSourceSize</key>
                <string>{94,113}</string>
                <key>textureRect</key>
                <string>{{124,381},{94,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon329.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,93}</string>
                <key>spriteSourceSize</key>
                <string>{101,93}</string>
                <key>textureRect</key>
                <string>{{114,163},{101,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mon330.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,220}</string>
                <key>spriteSourceSize</key>
                <string>{236,220}</string>
                <key>textureRect</key>
                <string>{{2,1300},{236,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poision1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,115}</string>
                <key>spriteSourceSize</key>
                <string>{117,115}</string>
                <key>textureRect</key>
                <string>{{580,381},{117,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poision2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,115}</string>
                <key>spriteSourceSize</key>
                <string>{117,115}</string>
                <key>textureRect</key>
                <string>{{699,381},{117,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poision3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,115}</string>
                <key>spriteSourceSize</key>
                <string>{117,115}</string>
                <key>textureRect</key>
                <string>{{461,381},{117,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poision4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,115}</string>
                <key>spriteSourceSize</key>
                <string>{117,115}</string>
                <key>textureRect</key>
                <string>{{818,381},{117,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>poision5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,115}</string>
                <key>spriteSourceSize</key>
                <string>{117,115}</string>
                <key>textureRect</key>
                <string>{{342,381},{117,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{462,498},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{341,498},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{220,498},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{583,498},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{2,625},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{123,625},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{825,498},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skillfire8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,125}</string>
                <key>spriteSourceSize</key>
                <string>{119,125}</string>
                <key>textureRect</key>
                <string>{{704,498},{119,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>speed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{2,2},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wudi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{2,498},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>monList.png</string>
            <key>size</key>
            <string>{949,1545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57b88ac7a42d1f6840c5d94ed6b18940:bb0ee47f564663969bc65718c30f8855:00ad1e77abde23c0e285ecab57201bc9$</string>
            <key>textureFileName</key>
            <string>monList.png</string>
        </dict>
    </dict>
</plist>
