<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,233}</string>
                <key>spriteSourceSize</key>
                <string>{233,233}</string>
                <key>textureRect</key>
                <string>{{88,1},{233,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiansuguangquan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{322,1},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>relive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{254,254}</string>
                <key>textureRect</key>
                <string>{{430,1},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,188}</string>
                <key>spriteSourceSize</key>
                <string>{222,188}</string>
                <key>textureRect</key>
                <string>{{1,256},{222,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,351}</string>
                <key>spriteSourceSize</key>
                <string>{388,351}</string>
                <key>textureRect</key>
                <string>{{224,256},{388,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,268}</string>
                <key>spriteSourceSize</key>
                <string>{158,268}</string>
                <key>textureRect</key>
                <string>{{613,256},{158,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goods.png</string>
            <key>size</key>
            <string>{772,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:588a0a4bd96f0298650f72425d4acf47:28bb2f048c707b5533f52e091fc2c29f:38d9ec3b7271396a81cfe9250157b3b3$</string>
            <key>textureFileName</key>
            <string>goods.png</string>
        </dict>
    </dict>
</plist>
