<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bron1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{2,223},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bron2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{2,353},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bron3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{440,223},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bron4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{732,223},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bron5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{148,223},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bron6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{294,223},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bron7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{586,223},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit105_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,67}</string>
                <key>spriteSourceSize</key>
                <string>{61,67}</string>
                <key>textureRect</key>
                <string>{{2,2},{61,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit105_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{65,2},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit105_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,88}</string>
                <key>spriteSourceSize</key>
                <string>{91,88}</string>
                <key>textureRect</key>
                <string>{{585,2},{91,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit105_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,88}</string>
                <key>spriteSourceSize</key>
                <string>{94,88}</string>
                <key>textureRect</key>
                <string>{{489,2},{94,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit106_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{406,689},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit106_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{608,689},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit106_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{204,689},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit106_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{586,487},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit106_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,689},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{108,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit110_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{666,108},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit110_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{218,108},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit110_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{442,108},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit110_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{330,108},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit110_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,111}</string>
                <key>spriteSourceSize</key>
                <string>{110,111}</string>
                <key>textureRect</key>
                <string>{{554,108},{110,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit111_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,98}</string>
                <key>textureRect</key>
                <string>{{678,2},{90,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit111_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{104,113}</string>
                <key>textureRect</key>
                <string>{{778,108},{104,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit111_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,130}</string>
                <key>spriteSourceSize</key>
                <string>{134,130}</string>
                <key>textureRect</key>
                <string>{{148,353},{134,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit111_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,131}</string>
                <key>spriteSourceSize</key>
                <string>{138,131}</string>
                <key>textureRect</key>
                <string>{{284,353},{138,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit112_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{401,2},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit112_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{225,2},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit112_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{137,2},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit112_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{313,2},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit117_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{558,353},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit117_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{424,353},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit117_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{136,487},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit117_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{692,353},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit117_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{2,487},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit121_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{770,2},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit121_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{2,108},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit421_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,176}</string>
                <key>spriteSourceSize</key>
                <string>{156,176}</string>
                <key>textureRect</key>
                <string>{{270,487},{156,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit421_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,176}</string>
                <key>spriteSourceSize</key>
                <string>{156,176}</string>
                <key>textureRect</key>
                <string>{{428,487},{156,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hitEffect.png</string>
            <key>size</key>
            <string>{884,891}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:153708a0ba4d67723a3adec64cebceaf:4d7f4eef552f87b6a8b06de87f1ef2f9:89bffb953eab457c57d3198059e4f21c$</string>
            <key>textureFileName</key>
            <string>hitEffect.png</string>
        </dict>
    </dict>
</plist>
