<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{652,72}</string>
                <key>spriteSourceSize</key>
                <string>{652,72}</string>
                <key>textureRect</key>
                <string>{{2,183},{652,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_light1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,39}</string>
                <key>spriteSourceSize</key>
                <string>{262,39}</string>
                <key>textureRect</key>
                <string>{{194,2},{262,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_light2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{2,2},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_light3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,179}</string>
                <key>spriteSourceSize</key>
                <string>{358,179}</string>
                <key>textureRect</key>
                <string>{{458,2},{358,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{136,92}</string>
                <key>textureRect</key>
                <string>{{56,2},{136,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battleTips.png</string>
            <key>size</key>
            <string>{818,257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9699e07dcbf9a9d57cf5ea23e0b9422:3d7bf959cdd668b3bef1a9442871808c:5e1d94bf1de090892293fb213f04511a$</string>
            <key>textureFileName</key>
            <string>battleTips.png</string>
        </dict>
    </dict>
</plist>
