<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_common_hb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,60}</string>
                <key>spriteSourceSize</key>
                <string>{76,60}</string>
                <key>textureRect</key>
                <string>{{296,132},{76,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_common_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,174}</string>
                <key>spriteSourceSize</key>
                <string>{82,174}</string>
                <key>textureRect</key>
                <string>{{151,198},{82,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_common_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,10}</string>
                <key>spriteSourceSize</key>
                <string>{10,10}</string>
                <key>textureRect</key>
                <string>{{2,2},{10,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_home_btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{59,132},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_shop_main_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{116,132},{55,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,133}</string>
                <key>spriteSourceSize</key>
                <string>{69,133}</string>
                <key>textureRect</key>
                <string>{{80,198},{69,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,32}</string>
                <key>spriteSourceSize</key>
                <string>{99,32}</string>
                <key>textureRect</key>
                <string>{{129,2},{99,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_back_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{173,132},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_common_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{2,132},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_common_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{141,76},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_common_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{235,132},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_common_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{297,76},{49,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_common_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{245,76},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_common_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{193,76},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,28}</string>
                <key>spriteSourceSize</key>
                <string>{55,28}</string>
                <key>textureRect</key>
                <string>{{72,2},{55,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_dqsy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{338,36},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{348,76},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{14,2},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_point1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{2,76},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{43,2},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_common_wechat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{89,76},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_key.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,37}</string>
                <key>spriteSourceSize</key>
                <string>{28,37}</string>
                <key>textureRect</key>
                <string>{{308,36},{28,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{374,132},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normalbg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,190}</string>
                <key>spriteSourceSize</key>
                <string>{160,190}</string>
                <key>textureRect</key>
                <string>{{235,198},{160,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,33}</string>
                <key>spriteSourceSize</key>
                <string>{304,33}</string>
                <key>textureRect</key>
                <string>{{2,36},{304,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_ts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,38}</string>
                <key>spriteSourceSize</key>
                <string>{75,38}</string>
                <key>textureRect</key>
                <string>{{378,36},{75,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>titlebg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,91}</string>
                <key>spriteSourceSize</key>
                <string>{76,91}</string>
                <key>textureRect</key>
                <string>{{2,198},{76,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>videoicon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{42,76},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>commonUI.png</string>
            <key>size</key>
            <string>{455,390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ea3f6ad48254768946e1612fc6294c5:bb811307e60f4fbd72e384be53bc6f99:6dbbe42d7f3b277bf7e1b9099f0f33a3$</string>
            <key>textureFileName</key>
            <string>commonUI.png</string>
        </dict>
    </dict>
</plist>
